@charset "UTF-8";

html {
	scroll-behavior: smooth;
	font-family: 'Montserrat';
}
body {
    font-family: arial, sans-serif !important;
    font-size: 0.888em;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}
main {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-height: 90vh;
	background-color: white;
}
nav a{
	color: white;
	text-decoration: none;
}
/*footer {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 220px;
	background-color: #1f1f1f;
	color: white;
}*/
.container {
	display: flex;
}
.container-nav {
	justify-content: stretch;
}
.navoption {
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navsection {
	width: 50%;
	height: 48px;
	color: white;
}
.div-center {
	display: flex;
	justify-content: center;
}

.tableForm{
	border: 1px solid #000;
	padding: 10px;
}
.dob{
	width: 97%;
}

hr {
	border-top: 1px dotted #000;
}
table.tableSchedule, .tableSchedule th,.tableSchedule tr,.tableSchedule td {
	border-collapse: collapse;
	border: 1px #d3d3d3 solid;
	position: relative;
}
select.building {
	width: 150px;
}
.tableSchedule
{
	width: 1060px;
	table-layout: fixed;
}
.tableSchedule tr:nth-child(even) { 
	background-color: rgb(245, 245, 245); 
}
.tableSchedule th:first-child {
	width: 100px;;
	border: none;
}
.tableSchedule th {
	font-weight: normal;
	width: 60px;
}

div.course {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 80px;
	background-color: #ec5f5a;
	border: 1px #ffffff solid;
	color: white;
}
/*div.course:hover {
	background-color: rgb(123, 0, 0);
	color: white;
}*/