<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(headFile); %>
</head>

<body>
    <header>
        <%- include(headerFile); %>
    </header>
    <main class="">
        <div class="div-center" style="background-color: white; margin: 10px;">

        </div>
        <div class="div-center">
            <table class="tableForm login">
                <tr align="center">
                    <td colspan="2">
                        <h2>Forgot Password?</h2>
                    </td>
                </tr>
                <tr>
                    <td><label for="user">Username: </label><input type="text" id="username" name="username" class="username userinfo"></td>
                </tr>
                <tr>
                    <td>
                        <label for="question">Security Question: </label>
                        <select name="questionSelection" id="questionSelection" class="day">
                            <option value="none" selected disabled>Choose Here</option>
                            <option value="Q1">What was your first high school's name?</option>
                            <option value="Q2">What is your favorite outdoor activity?</option>
                            <option value="Q3">Who is your first kiss?</option>
                        </select>
                        <input type="text" id="question" name="question" class="userinfo">
                    </td>
                </tr>
                <tr>
                    <td><label for="password">New Password: </label><input type="password" id="password" name="password" class="userinfo"></td>
                </tr>
                <tr>
                    <td><label for="password">Confirm Password: </label><input type="password" id="confirmpass" name="confirmpass" class="userinfo"></td>
                </tr>
                <tr align="center">
                    <td colspan="2"><button class="registerbtn" onclick="sendUser('forgot')">Login</button></td>
                </tr>
                </tr>
            </table>
        </div>
    </main>
    <footer>
        <%- include("../partials/footer"); %>
    </footer>
</body>

</html>