<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(headFile), {title}; %>
</head>
<body>
    <header>
        <%- include(headerFile); %>
    </header>
    <main class="">
        <div class="div-center" style="background-color: white; margin: 10px;">
            <h1>Welcome</h1>
        </div>
        <div class="div-center">This is the home page. To use Room Finder, please login in or register in order to access the schedules.</div>
        <br><br><br>
        <div class="div-center"><img src="images/campus-photo1.jpg" width="65%"></div>
        <br><br><br>
    </main>
    <footer>
        <%- include("../partials/footer"); %>
    </footer>
</body>
</html>