<!--
	Name: John Rafael De Los Reyes
	Date: 10/26/2023
	Course: IT490-103
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(headFile); %>
</head>
<body>
    <header>
        <%- include(headerFile); %>
    </header>
    <main class="">
        <div class="div-center" id="welcomeUser" style="background-color: white; margin: 10px;">
            <h1>Welcome, <%= username %></h1>
        </div>
        <div class="div-center">This is the home page. Thank you for logging in.</div>
        <br><br><br>
        <div class="div-center"><img src="images/campus-photo1.jpg" width="65%"></div>
        <br><br><br>
    </main>
    <footer>
        <%- include("../partials/footer"); %>
    </footer>
</body>
</html>
