<!--
	Name: John Rafael De Los Reyes
	Date: 10/26/2023
	Course: IT490-103
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(headFile); %>
</head>

<body>
    <header>
        <%- include(headerFile); %>
    </header>
    <main class="">
        <div class="div-center" style="background-color: white; margin: 10px;">

        </div>
        <div class="div-center">
            <table class="tableForm login">
                <tr align="center">
                    <td colspan="2">
                        <h2>Login</h2>
                    </td>
                </tr>
                <tr>
                    <td><label for="user">Username: </label><input type="text" id="username" name="username" class="username userinfo"></td>
                </tr>
                <tr>
                    <td><label for="password">Password: </label><input type="password" id="password" name="password" class="password userinfo"></td>
                </tr>
                <tr align="center">
                    <td colspan="2"><button class="registerbtn" onclick="sendUser('login')">Login</button></td>
                </tr>
                <tr align="center">
                    <td colspan="2" style="padding-top: 50px;">Don't have an account?<br><a href="register">Sign up here</a></td>
                </tr>
                <tr align="center">
                    <td colspan="2" style="padding-top: 50px;">Forgot your password?<br><a href="forgot">Reset here</a></td>
                </tr>
            </table>
        </div>
    </main>
    <footer>
        <%- include("../partials/footer"); %>
    </footer>
</body>
</html>