<nav class="container container-nav" style="background-color: #c02b25; height: 48px;">
    <div class="container nav-option">
        <a id="logo" href="index"><img src="images/logo.png" width="150" height="50" style="margin-left: 12px; margin-top: 3px;"></a>
    </div>
    <div class="container navsection" style="justify-content: flex-start;">
        <div class="navoption"><a href="landing" class="link">Home</a></div>
        <div class="navoption"><a href="schedule" class="link">Schedule</a></div>
        <div class="navoption dropdown">
            <button class="dropbtn"><%= username %> <i class="fa fa-caret-right navicon"></i></button>
            <div class="dropdown-content">
                <a href="account" class="link">Account</a>
                <a href='javascript:;' onclick="logout();">Logout</a>
            </div>
        </div>
        <script>
            document.getElementById("logo").href = makeURL(document.getElementById("logo").href)
            var links = document.getElementsByClassName("link");
            for(var a = 0; a < links.length; a++) {
                links[a].href = makeURL(links[a].href);
            }
        </script>
    </div>
</nav>